<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<insert id="register">
		INSERT ALL
		INTO MEMBER VALUES('mb_id','mb_pw','mb_area','mb_name','enabled')
		INTO USERS (US_ID,US_ADDRESS,US_PHONE,US_EMAIL,US_POINT)
		VALUES('us_id','us_address','us_phone','us_email','us_image')
		INTO AUTHORITIES VALUES('authority','id')
		SELECT * FROM DUAL;
	</insert>
	
</mapper>