<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.IAdminManagementDao">

<insert id="libraryinsert" parameterType="library">
 	INSERT INTO LIBRARY(LB_CODE,LB_NAME,LB_ADDRESS,LB_LOC)
 	VALUES
 	(#{lb_code},#{lb_name},#{lb_address},#{lb_loc})
</insert>

<!-- <resultMap type="library" id="lib">
		<result property="lb_loc" column="LB_LOC" />
		<result property="lb_code" column="LB_CODE" />
		<result property="lb_name" column="LB_NAME" />
		<result property="la_id" column="LA_ID" />
	</resultMap> -->
	
<select id="getlibraryinfo" resultType="Library" >
SELECT * FROM LIBRARY 
</select>
	
	</mapper>