<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.IAdminManagementDao">

<insert id="libraryinsert" parameterType="library">
 	INSERT INTO LIBRARY(LB_CODE,LB_NAME,LB_POSTCODE,LB_ROADADDR,LB_BRANCHADDR,LB_DETAILADDR,LB_EXTRAADDR,LB_LOC,LB_PHONE,LB_EMAIL,
 						LB_LATITUDE, LB_LONGITUDE)
 				VALUES
 						   (#{lb_code}, #{lb_name}, #{lb_postcode}, #{lb_roadaddr},
						    #{lb_branchaddr}, #{lb_detailaddr}, #{lb_extraaddr},
						    #{lb_loc}, #{lb_phone}, #{lb_email}, #{lb_latitude},
						    #{lb_longitude})
</insert>

 <resultMap type="library" id="lib">
		<result property="lb_loc" column="LB_LOC" />
		<result property="lb_code" column="LB_CODE" />
		<result property="lb_name" column="LB_NAME" />
		<result property="la_id" column="LA_ID" />
	</resultMap>
	
<select id="getlibraryinfo" resultType="Library" >
SELECT * FROM  LIBRARY
</select>

<select id="getinfo" resultType="Library">
SELECT * FROM LIBRARY JOIN LIBRARIAN ON LA_LCODE=LB_CODE
</select>


<select id="getLibraryList" resultType="Library">
SELECT LB_NAME,LB_CODE,LB_LOC,LA_ID FROM LIBRARIAN JOIN MEMBER ON LA_ID=MB_ID
JOIN LIBRARY ON LA_LCODE=LB_CODE
</select>

<delete id="LibrarianDelete">
	{call
        declare
        begin
            delete from MEMBER where mb_id = #{la_id};
            delete from authorities where id = #{la_id};
            delete from librarian where la_id = #{la_id};
        end
    }
</delete>


	
<select id="getLibraryNextCode" resultType="Integer">
	SELECT LB_SEQ.NEXTVAL FROM DUAL
</select>	

<insert id="recommendInsert" parameterType="Recommend">
	INSERT INTO RECOMMAND VALUES(
		#{re_bcode}, #{re_bname}, #{re_bwriter}, #{re_publisher},
		#{re_publicday}, #{re_introduction}, #{re_sg_num},
		#{re_bg_num}, #{re_contents}, SYSDATE, #{re_image}
	)
</insert>
	
<update id="libraryDelete" parameterType="Library">
		UPDATE LIBRARY SET LB_POSTCODE=#{lb_postcode}, LB_ROADADDR=#{lb_roadaddr},
						   LB_BRANCHADDR = #{lb_branchaddr}, LB_DETAILADDR = #{lb_detailaddr}, LB_EXTRAADDR = #{lb_extraaddr},
						   LB_PHONE = #{lb_phone}, LB_EMAIL = #{lb_email}, LB_LATITUDE = #{lb_latitude},
						   LB_LONGITUDE = #{lb_longitude}
					   WHERE LB_CODE = #{lb_code}	   
	</update>	
	
<delete id="libraryDrop">
	DELETE FROM LIBRARY WHERE LB_CODE=#{lb_code}
</delete>	
<delete id="recommendDelete" parameterType="recommend">
	DELETE FROM RECOMMAND WHERE RE_BCODE=#{re_bcode}
</delete>
<update id="recommendModify" parameterType="recommend">
 	UPDATE RECOMMAND SET RE_CONTENTS=#{re_contents} where RE_BCODE=#{re_bcode}
</update>

</mapper>