<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.IHopeDao">

<select id="lbHopeList" resultType="Hope">
SELECT * FROM BOOKREQUEST JOIN LIBRARY ON LB_CODE=BR_LCODE JOIN LIBRARIAN ON BR_LCODE=LA_LCODE WHERE LA_ID=#{id}

</select>

<select id="lbHopeDetail"  resultType="Hope">

SELECT * FROM BOOKREQUEST JOIN LIBRARY ON LB_CODE=BR_LCODE JOIN LIBRARIAN ON BR_LCODE=LA_LCODE WHERE BR_NUM=#{br_num}
</select>

<select id="swapBooks" resultType="Library">
SELECT * FROM BOOKS JOIN LIBRARY ON BK_LCODE=LB_CODE WHERE BK_CODE=#{br_bcode}
</select>


<update id="updateHopeReturn" parameterType="Hope">

UPDATE BOOKREQUEST SET BR_FALSE=#{br_false},BR_SITUATION=2 WHERE BR_NUM=#{br_num}
</update>


<update id="updateHopeComplete" parameterType="Hope">

UPDATE BOOKREQUEST SET BR_SITUATION=3 WHERE BR_NUM=#{br_num}
</update>

<insert id="insertExchange" parameterType="exchange">

INSERT INTO BOOKEXCHANGE VALUES(BE_NUM.NEXTVAL,#{be_bcode},#{be_lcode},#{be_res_lcode},#{be_count},0) 

</insert>



<update id="updateHopeProcessing" parameterType="Hope">

UPDATE BOOKREQUEST SET BR_SITUATION=1 WHERE BR_NUM=#{br_num}

</update>


</mapper>