<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.IlibrayBookManagementDao">
	
	<resultMap type="classification" id="big">
		<result property="bigNum" column="BG_NUM" />
		<result property="category" column="BG_CATE" />
	</resultMap>
	
	<select id="getBigGroup" resultType="classification" resultMap="big">
		SELECT * FROM BIGGROUP
	</select>

	<resultMap type="classification" id="small">
		<result property="bigNum" column="SG_BG_NUM" />
		<result property="smallNum" column="SG_NUM" />
		<result property="category" column="SG_CATE" />
	</resultMap>

	<select id="getSmallGroup" resultType="classification" resultMap="small">
		SELECT * FROM SMALLGROUP WHERE SG_NUM LIKE #{BigNum}||'%'
		
	</select>


	<insert id="bookInsert" parameterType="Books" >
		INSERT INTO BOOKS(BK_CODE,BK_LCODE,BK_BG_NUM,BK_SG_NUM,BK_NAME,BK_INTRODUCTION,BK_PUBLICDAY,
						  BK_PUBLISHER,BK_WRITER,BK_IMAGE,BK_QUANTITY,BK_BOOKLEND) 
						  VALUES(#{bk_code},#{bk_lcode},#{bk_bg_num},#{bk_sg_num},#{bk_name},
						  		 #{bk_introduction},#{bk_publicday},#{bk_publisher},
						  		 #{bk_writer},#{bk_image},#{bk_Quantity},#{bk_Quantity})
		
	</insert>

</mapper>