<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.ILibrarianManagementDao">

<insert id="librarianinsert" parameterType="librarian">
 	INSERT INTO MEMBER(MB_ID,mb_pw,mb_area,ENABLED,mb_name)
 	VALUES
 	(#{la_id},#{la_pw},#{la_loc},1,#{la_name})
 	</insert>
 	
 <insert id="librarianinsert2" parameterType="librarian">	
 	INSERT INTO authorities(authority,id)
 	VALUES
 	('ROLE_LIBRARIAN',#{la_id})
 </insert>
 <insert id="librarianinsert3" parameterType="librarian">	
 	INSERT INTO librarian(LA_ID,LA_LCODE)
 	VALUES
 	(#{la_id},#{la_lcode})
 
</insert>

<select id="libraryList" parameterType="library">
    SELECT LB_NAME, LB_CODE, LB_LOC FROM LIBRARY
</select>


	</mapper>