<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.ILibrayManagementDao">
	<select id="getLibraryInfo" parameterType="Integer" resultType="Library">
		SELECT * FROM LIBRARY WHERE LB_CODE=#{lb_code}
	</select>

	<update id="libraryModify" parameterType="Library">
		UPDATE LIBRARY SET LB_NAME = #{lb_name}, LB_POSTCODE=#{lb_postcode}, LB_ROADADDR=#{lb_roadaddr},
						   LB_BRANCHADDR = #{lb_branchaddr}, LB_DETAILADDR = #{lb_detailaddr}, LB_EXTRAADDR = #{lb_extraaddr},
						   LB_LOC = #{lb_loc}, LB_PHONE = #{lb_phone}, LB_EMAIL = #{lb_email}, LB_LATITUDE = #{lb_latitude},
						   LB_LONGITUDE = #{lb_longitude}
					   WHERE LB_CODE = #{lb_code}	   
	</update>


</mapper>