<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.ILibraryDeliveryDao">

<select id="getDeliveryList" resultType="LibraryDelivery">
SELECT distinct BO_NUM,BO_ID,BD_STATE_NUM,BD_DATE 
FROM BORROWLIST JOIN BORROWDETAIL 
ON BO_NUM=BD_BO_NUM
JOIN BOOKS ON BK_CODE=BD_BCODE
WHERE (BD_LCODE=#{lb_code} AND BD_STATE_NUM !=3) AND (BD_STATE_NUM =2 OR BD_STATE_NUM =4)
	
	</select>
	
	
<select id="getReturnDeliveryList" resultType="LibraryDelivery">
SELECT distinct BO_NUM,BD_NUM,BO_ID,BD_STATE_NUM,BD_DATE 
FROM BORROWLIST JOIN BORROWDETAIL 
ON BO_NUM=BD_BO_NUM
JOIN BOOKS ON BK_CODE=BD_BCODE
WHERE BD_LCODE=#{lb_code} AND (BD_STATE_NUM =5 OR BD_STATE_NUM =6 OR BD_STATE_NUM =7)
	
	</select>
	
	
	
<select  id="getLbDeliveryDetail" resultType="librarydelivery">
SELECT *
FROM BORROWLIST JOIN BORROWDETAIL 
ON BO_NUM=BD_BO_NUM
JOIN BOOKS ON BK_CODE=bd_bcode AND BK_LCODE=BD_LCODE
WHERE BD_LCODE=#{bd_lcode} AND BO_NUM=#{bo_num}

</select>



<select  id="getReturnbooksdetail" resultType="librarydelivery">
SELECT *
FROM BORROWLIST JOIN BORROWDETAIL 
ON BO_NUM=BD_BO_NUM
JOIN BOOKS ON BK_CODE=bd_bcode AND BK_LCODE=BD_LCODE
WHERE BD_LCODE=#{bd_lcode} AND BD_NUM=#{bd_num} AND (BD_STATE_NUM=5 OR BD_STATE_NUM=6 OR BD_STATE_NUM=7)
</select>


	
<update id="lbDeliveryCancel" parameterType="librarydelivery">

UPDATE BORROWDETAIL SET BD_STATE_NUM=3,BD_REASON=#{bd_reason} WHERE BD_NUM=#{bd_num}

</update>	


<update id="lbDeliveryComplete" parameterType="librarydelivery">

UPDATE BORROWDETAIL SET BD_STATE_NUM=4, BD_DATE=SYSDATE, BD_REAL_RETURN_DATE=SYSDATE+14 WHERE BD_BO_NUM=#{bo_num} AND BD_STATE_NUM!=3

</update>	



<update id="updateReturnBookComplete" parameterType="librarydelivery">

UPDATE BORROWDETAIL SET BD_STATE_NUM=7, BD_REAL_RETURN_DATE=SYSDATE WHERE BD_NUM=#{bd_num}

</update>	



<update id="updateReturnBooksNull" parameterType="librarydelivery">

UPDATE BOOKS SET BK_BOOKLEND=BK_BOOKLEND-1, BK_STATE=1 WHERE BK_LCODE=#{bd_lcode} AND BK_CODE=#{bd_bcode}

</update>	


<update id="updateReturnBooksNotNull" parameterType="librarydelivery">

UPDATE BOOKS SET BK_BOOKLEND=BK_BOOKLEND-1, BK_STATE=0 WHERE BK_LCODE=#{bd_lcode} AND BK_CODE=#{bd_bcode}

</update>	


<select id="getReservationCheck" resultType="reservation">
SELECT * FROM RESERVATION JOIN BORROWDETAIL ON bd_bcode=rt_code AND rt_lcode=bd_lcode WHERE RT_CODE=#{bd_bcode} AND RT_LCODE=#{bd_lcode} AND BD_STATE_NUM=5

</select>
	
</mapper>