<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.ILibrarianManagementDao">

<select id="lbQuestionList" resultType="Question">

SELECT * FROM librarian join QUESTION on la_lcode=qs_lcode join library on librarian.la_lcode=library.lb_code WHERE LA_ID=#{id}
</select>

<insert id="questionAnswer" parameterType="Answer">

INSERT INTO ANSWER VALUES(AW_NUM.NEXTVAL,#{aw_q_num},#{aw_id},#{aw_contents},SYSDATE)

</insert>

<update id="updateState" parameterType="Answer">

UPDATE QUESTION SET QS_STATE='답변완료' WHERE QS_NUM=#{aw_q_num}
</update>

</mapper>