<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.IMemberDao">

<select id="getLoanList" resultType="Loan">

SELECT BD_NUM,bo_num,bk_name,bk_lcode,bd_date,bd_return_date,bd_return_extension,bk_image FROM BORROWLIST JOIN BORROWDETAIL ON BO_NUM=BD_BO_NUM JOIN BOOKS ON books.bk_code=borrowdetail.bd_bcode and bd_lcode=bk_lcode  WHERE BO_ID=#{id} AND bd_state_num=1 OR bd_state_num=2 OR bd_state_num=4 OR bd_state_num=5

</select>


<select id="getArrearsDay" resultType="Integer">
<![CDATA[ 
SELECT SUM(BD_RETURN_DATE-BD_REAL_RETURN_DATE) FROM BORROWLIST JOIN BORROWDETAIL ON  BD_BO_NUM=BO_NUM WHERE BO_ID=#{id} AND (BD_RETURN_DATE-BD_REAL_RETURN_DATE)<0
]]>
</select>


<select id="getArrearsCnt" resultType="Integer">
<![CDATA[ 
SELECT COUNT(BD_RETURN_DATE-BD_REAL_RETURN_DATE) FROM BORROWLIST JOIN BORROWDETAIL ON  BD_BO_NUM=BO_NUM WHERE BO_ID=#{id} AND (BD_RETURN_DATE-BD_REAL_RETURN_DATE)<0
]]>
</select>



	<update id="updateprofileUs" parameterType="member">

		<!-- UPDATE VEIW_MEMBER SET US_ADDRESS=#{us_address},US_PHONE=#{us_phone},US_EMAIL=#{us_email} 
			WHERE MB_ID=#{mb_id} -->
		UPDATE USERS SET
		US_ADDRESS=#{us_address},US_PHONE=#{us_phone},US_EMAIL=#{us_email},
		US_IMAGE=#{us_image} WHERE US_ID=#{mb_id}
	</update>

	<update id="updateprofileMb" parameterType="member">

		UPDATE MEMBER SET MB_AREA=#{mb_area} WHERE MB_ID=#{mb_id}
	</update>



	<select id="getArrearsList" resultType="Loan">
	<![CDATA[ 
		SELECT
		bo_num,bk_name,bd_date,bd_return_date,bd_real_return_date,bd_return_date-bd_real_return_date
		as ARREARSDAY FROM BORROWLIST
		JOIN BORROWDETAIL ON BO_NUM=BD_BO_NUM
		JOIN BOOKS ON BD_BCODE=BK_CODE WHERE BO_ID=#{id} AND (BD_RETURN_DATE-BD_REAL_RETURN_DATE)<0
	]]>
	</select>

    <select id="getreservationRank" resultType="int">
    
     
	SELECT RANK FROM (SELECT ROWNUM RANK,RESERVATION.* FROM RESERVATION WHERE RT_CODE=#{rv_code} ORDER BY RT_NUM) WHERE RT_ID=#{rv_id} AND RT_LCODE=#{rv_lcode}
     
    </select> 

	<select id="getBorrowChart" resultType="BigGroup">
		SELECT BG_CATE,COUNT(BK_BG_NUM) CNT FROM BORROWLIST
		JOIN BORROWDETAIL ON BO_NUM=BD_BO_NUM
		JOIN BOOKS ON BK_CODE=BD_BCODE
		JOIN BIGGROUP ON BG_NUM=BK_BG_NUM
		WHERE borrowlist.bo_id=#{id} GROUP BY BG_CATE

	</select>


	<update id="loanExtend" parameterType="int" keyProperty="bd_return_extension">

		UPDATE BORROWDETAIL SET
		BD_RETURN_DATE=BD_RETURN_DATE+7,bd_return_extension=1 WHERE
		BD_NUM=#{num}

	</update>



	<resultMap type="Reservation" id="resrv">
		<result property="rv_num" column="RT_NUM" />
		<result property="rv_code" column="RT_CODE" />
		<result property="rv_lcode" column="RT_LCODE" />
		<result property="rv_date" column="RT_DATE" />
		<result property="lb_name" column="LB_NAME" />
		<result property="bk_name" column="BK_NAME" />
		<result property="bk_state" column="BK_STATE" />
	</resultMap>
	<select id="getReservationlist" resultType="Reservation"
		resultMap="resrv">
		
	  SELECT * FROM BOOKS
      JOIN RESERVATION ON BOOKS.BK_CODE=reservation.rt_code and books.bk_lcode=reservation.rt_lcode
      JOIN LIBRARY ON library.lb_code=reservation.rt_lcode WHERE RT_ID=#{id}

	</select>
	
	<insert id='reviewInsert' parameterType="Review">
	INSERT INTO
	REVIEW(RV_BCODE,RV_ID,RV_CONTENTS,RV_GRADE)
	VALUES(#{rv_bcode},#{rv_id},#{rv_contents},#{rv_grade2})

</insert>
	
	<select id="getReservationCnt" parameterType="reservation" resultType="int">
		SELECT COUNT(*) FROM RESERVATION 
		WHERE RT_CODE = #{rv_code} AND RT_LCODE = #{rv_lcode}
	</select>
	
<update id="changeGrade" parameterType="String" >

		UPDATE USERS SET
		US_GRADE='우수'
		WHERE US_ID=#{id}

</update>
<update id="plusPoint" parameterType="String" >
	UPDATE USERS SET US_POINT=US_POINT+1000 WHERE US_ID=#{id}
</update>
<insert id='plustPointList' parameterType="Review">
	INSERT INTO
	POINTLIST
	VALUES(PL_NUM.NEXTVAL,#{id},10000,'우수회원기념',SYSDATE)
</insert>
</mapper>