<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.IMemberDao">

<update id="updateprofileUs" parameterType="member">

<!-- UPDATE VEIW_MEMBER SET US_ADDRESS=#{us_address},US_PHONE=#{us_phone},US_EMAIL=#{us_email} WHERE MB_ID=#{mb_id} -->
UPDATE USERS SET US_ADDRESS=#{us_address},US_PHONE=#{us_phone},US_EMAIL=#{us_email}, US_IMAGE=#{us_image} WHERE US_ID=#{mb_id}
</update>

<update id="updateprofileMb" parameterType="member">

UPDATE MEMBER SET MB_AREA=#{mb_area} WHERE MB_ID=#{mb_id}
</update>



<select id="getBorrowChart" resultType="List">
		SELECT BG_CATE,COUNT(BK_BG_NUM) CNT FROM BORROWLIST JOIN BOOKS ON books.bk_lcode=borrowlist.bo_lcode 
		JOIN BIGGROUP ON BK_BG_NUM=biggroup.bg_num 
		WHERE borrowlist.bo_id=#{id} GROUP BY BG_CATE
		
	</select>
</mapper>