<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allBookSharing.xxx.dao.QuestionDao">

<select id="getQuestionList" resultType="Question">
 select * from question
</select>

<insert id="questionWrite" parameterType="Question">
    INSERT INTO QUESTION VALUES 
    (qs_num.nextval,#{qs_lcode},#{qs_id},#{qs_title},#{qs_content},#{qs_show},'대기중',SYSDATE)
    
</insert>

<select id="getQuestionDetail" resultType="Question">
 select * from question WHERE QS_NUM=#{qs_num}
</select>

</mapper>