<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.allBookSharing.xxx.dao.IReservationManagementDao">

<resultMap type="reservation" id="res">
	<result property="rv_num" column="RT_NUM" />
	<result property="rv_code" column="RT_CODE" />
	<result property="rv_lcode" column="RT_LCODE" />
	<result property="rv_date" column="RT_DATE" />
	<result property="rv_id" column="RT_ID" />
	<result property="rv_timeLimit" column="RT_TIMELIMIT" />
</resultMap>


<select id="getReservationList" resultMap="res" resultType="reservation">
	SELECT * FROM RESERVATION
</select>

<select id="getBookCnt" resultType="int">
	SELECT BK_QUANTITY-BK_BOOKLEND FROM BOOKS 
	WHERE BK_CODE=#{rv_code} AND BK_LCODE = #{rv_lcode}
</select>

<update id="timeLimitDown">
	UPDATE RESERVATION SET RT_TIMELIMIT = RT_TIMELIMIT -1 
	WHERE RT_NUM = #{rv_num}
</update>

<select id="getTimeLimit" parameterType="reservation" resultType="int">
	SELECT RT_TIMELIMIT FROM RESERVATION WHERE RT_NUM = #{rv_num}
</select>

<select id="bookReservationCheck" parameterType="reservation" resultType="int">
	SELECT COUNT(*) FROM RESERVATION WHERE RT_CODE=#{rv_code} AND RT_LCODE = #{rv_lcode}
</select>

<update id="bookStateChange">
	UPDATE BOOKS SET BK_STATE = 1 
	WHERE BK_CODE=#{rv_code} AND BK_LCODE = #{rv_lcode}
</update>

</mapper>	