<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.allBookSharing.xxx.dao.IUserReadingRoomManagementDao">
	
	<select id="getZoneInfo" resultType="library">
		SELECT DISTINCT LB_LOC FROM LIBRARY
	</select>
	
	<select id="getReadingRoomInfo" resultType="readingRoom">
		SELECT * FROM READINGROOM WHERE RM_LCODE = #{lb_code}
	</select>
	
	<select id="numberOfSeatsInUse" resultType="int">
		SELECT COUNT(*) FROM SEATS WHERE SE_CODE = #{rm_code} AND SE_PLACE=#{se_place}   
	</select>
	
	<select id="readingRoomReservationCheck" resultType="Integer"> 
		SELECT COUNT(*) FROM SEATS WHERE SE_ID = #{se_id}
	</select>
	
	<update id="readingRoomReservation">
		UPDATE SEATS SET SE_PLACE = 2, SE_ID = #{se_id}, SE_DATE = SYSDATE, SE_SEATNUM = #{se_seatnum}
		WHERE SE_CODE=#{se_code} AND SE_LOW=#{se_low} AND SE_COL=#{se_col}
	</update>
	
	<select id="userReadingRoomReservationCheck" resultType="seats">
		SELECT SE_CODE, RM_NAME, SE_ID, SE_DATE, SE_SEATNUM, LB_NAME FROM SEATS 
		JOIN READINGROOM
		ON readingroom.RM_CODE = SEATS.SE_CODE
		JOIN LIBRARY
		ON readingroom.RM_LCODE = LIBRARY.LB_CODE
		WHERE SE_ID = #{id}
	</select>
	
	<update id="userReadingRoomReservationCancel">
		UPDATE SEATS SET SE_PLACE = 1, SE_ID = NULL, SE_SEATNUM = NULL
		WHERE SE_ID = #{id}
	</update>
	
</mapper>